/*
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 28, 2016, 7:51:22 PM
    Author     : Michelle
*/

@import 'https://fonts.googleapis.com/css?family=Sacramento';
@import 'https://fonts.googleapis.com/css?family=Josefin+Slab';
html {
    height: 100%;
    overflow: hidden;
    background-color: #c6c8ee;
}
body{
    background-color: #c6c8ee;
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-size: 18px;
    overflow: auto;
}

h1{

    font-size: 70px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Sacramento', cursive;
    color: white;


}

p{
    color: white;
    font-size: 23px;
    margin: 0px;
    padding: 0px;
    border: 0px;


}

#panel{
    box-sizing: border-box;
    position: relative;
    background-color: #bd6b73;
    top: 0px;
    left: 0px;
    height: 701.5px;
    width: 150px;
    border: solid 1px black;
}

#panel2{
    box-sizing: border-box;
    position: relative;
    background-color: #bd6b73;
    top: -701.5px;
    left: 0px;
    height: 701.5px;
    width: 150px;
    border: solid 1px black;
    float:right;

}

#colorSelection{
    color: white;
    position: relative;
    top: 5px;
    left: 2px;
}

#brushSelection{
    color: white;
    position: relative;
    top: -37px;
    left: 2px;
}

#shapeSelection{
    color: white;
    position: relative;
    top: -33px;
    left: 2px;
}

#opacitySelction{
    color: white;
    position: relative;
    top: -205px;
    left: 2px;
}

#backgroundSelection{
    color: white;
    position: relative;
    top: 0px;
    left: 2px;
}

#theCanvas{
    position: fixed;
    left: 150px;
    border: solid 1px black;
    box-sizing: border-box;
}

#content{
    position: relative;
    margin-left: 0px;
    height: 100%;
    width: 1400px;
    font-family: 'Josefin Slab', serif;
}




#clr{
    position:relative;
    top: -40px;
    left:5px;
}

#undo{
    position: relative;
    top: -10px;
    left: -40px;
}

#save{
    position: relative;
    top: 0px;
    left: 5px;
}

#canvasimg{
    position:relative;
    box-sizing: border-box;
    top:-735px;
    left:1350px;
    display:none;
}



#circleSolid{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 25px;
    width: 25px;
    top: -81px;
    left: 5px;
}

#insideCircleSolid{
    top: 4px;
    left: 4px;
    position: relative;
    border: 1px solid red;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: red;
}

#squareOutline{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 25px;
    width: 25px;
    top: -54px;
    left: 38px;
}

#insideSquareOutline{
    top: 4px;
    left: 4px;
    position: relative;
    border: 1px solid red;
    height: 15px;
    width: 15px;
}

#squareSolid{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 25px;
    width: 25px;
    top: -108px;
    left: 71.5px;
}

#insideSquareSolid{
    top: 4px;
    left: 4px;
    position: relative;
    border: 1px solid red;
    height: 15px;
    width: 15px;
    background-color: red;
}

#circleOutline{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 25px;
    width: 25px;
    top: -27px;
    left: 104px;
}

#insideCircleOutline{
    top: 4px;
    left: 4px;
    position: relative;
    border: 1px solid red;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}


#line{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 25px;
    width: 25px;
    top: -103px;
    left: 5px;
}

#insideLine{
    top: 10px;
    left: 1.5px;
    position: relative;
    border: 1px solid red;
    height: 1px;
    width: 20px;
    background-color: red;
}

#diamondSolid{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 25px;
    width: 25px;
    top: -185px;
    left: 38px;
}

#insideDiamondSolid{
    position: relative;
    background-color: red;
    height: 17px;
    width: 17px;
    top: 4px;
    left: 4px;
    transform: rotate(45deg);
}

#triangleSolid{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 25px;
    width: 25px;
    top: -130px;
    left: 104px;
}

#insideTriangleSolid{
    position: relative;
    width: 0; 
    height: 0; 
    border-left: 11px solid transparent; 
    border-right: 11px solid transparent;
    border-bottom: 18px solid red;
    top: 2px;
    left: 2px;
}

#diamondOutline{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 25px;
    width: 25px;
    top: -180px;
    left: 5px;
}

#insideDiamondOutline{
    position: relative;
    border: solid 1px red;
    height: 17px;
    width: 17px;
    top: 4px;
    left: 4px;
    transform: rotate(45deg);
    box-sizing: border-box;
}

#triangleOutline{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 25px;
    width: 25px;
    top: -157px;
    left: 71px;
}

#insideTriangleOutline{
    position: relative;
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent; 
    border-right: 8px solid transparent;
    border-bottom: 14px solid lightgray;
    top: 2px;
    left: -8.5px;
    box-sizing: border-box;
}

#triangleBorder{
    position: relative;
    width: 0; 
    height: 0; 
    border-left: 11px solid transparent; 
    border-right: 11px solid transparent;
    border-bottom: 18px solid red;
    top: 2px;
    left: 2px;
}


footer{
    margin-top: 0px;
    background-color: #bd6b73;
    position: relative;
    height:auto;
    width: 1150px;
    font-family: 'Sacramento', cursive;
    text-align: center;
    color: white;
    font-size: 23px;
    top: 20px;
    padding-left: 250px;
}


#opacityRange{
    position:relative;
    top:-205px;
    left: -5px;
}

#red{
    position: relative;
    top: 10px;
    color: white;
    font-size: 75%;
    width:95px;
    left: 5px;
}

#redRange{
    position: relative;
    left: 10px;
    top: -20px;

}

#green{
    position: relative;
    top: -10px;
    color: white;
    font-size: 75%;
    left: 5px;
}

#greenRange{
    position: relative;
    left: 10px;
    top: -20px;

}

#blue{
    position: relative;
    top: -30px;
    color: white;
    font-size: 75%;
    left: 5px;
}

#blueRange{
    position: relative;
    top: 5px;
    left: -5px;
}

#brushRange{
    position: relative;
    left: -5px;
    top: -39px;
}

#theBackground{
    color: white;
    position: relative;
    top: -25px;
    left: 2px;
    height: 10px;
    width: 10px;
    text-align:right;
}

#sizeRange{
    position: relative;
    top: -100px;
    left: -5px;
}

#sizeSelection{
    color: white;
    position: relative;
    top: -100px;
    left: 2px;
}


#flowerOutline{
    position: relative;
    height: 100px;
    width: 100px;
    background-image: url("images/flowerOutline.jpg");
    background-size: 100px 100px;
    border: 1px solid;
    right: 30px;
    float: right;
}

#blankBackground{
    position: relative;
    height: 100px;
    width: 100px;
    background-color: white;
    background-size: 100px 100px;
    border: 1px solid;
    right: 30px;
    float: right;
}
#butterflyBackground{
    position: relative;
    height: 100px;
    width: 100px;
    background-image: url("images/butterflyBackground.jpg");
    background-size:100px 100px;
    background-size: 100px 100px;
    border: 1px solid;
    right: 30px;
    float: right;
}

#lionBackground{
    position: relative;
    height: 100px;
    width: 100px;
    background-image: url("images/lionBackground.jpg");
    background-size:100px 100px;
    background-size: 100px 100px;
    border: 1px solid;
    right: 30px;
    float: right;
}

#elephantBackground{
    position: relative;
    height: 100px;
    width: 100px;
    background-image: url("images/elephantBackground.jpg");
    background-size:100px 100px;
    background-size: 100px 100px;
    border: 1px solid;
    right: 30px;
    float: right;
}
#fishBackground{
    position: relative;
    height: 100px;
    width: 100px;
    background-image: url("images/fishBackground.jpg");
    background-size:100px 100px;
    background-size: 100px 100px;
    border: 1px solid;
    right: 30px;
    float: right;
}

#gradientSelection{
    color: white;
    position: relative;
    top: -30px;
    left: 2px;
}

#gradientOn{
    background: linear-gradient(to right, red , yellow);
    position: relative;
    top: -55px;
    left: 5px;
    height: 26px;
    width: 26px;
    font-size: 75%;
}

#gradientOff{
    background: red;
    position: relative;
    top: -28px;
    left: 40px;
    height: 26px;
    width: 26px;
    font-size: 75%;
}