/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 28, 2016, 7:51:22 PM
    Author     : Michelle
*/

@import 'https://fonts.googleapis.com/css?family=Gloria+Hallelujah';
body{
    background-image: url(images/background.jpg)
}

h1{
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
    
}

p{
    color: white;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#panel{
    box-sizing: border-box;
    position: relative;
    background-color: #542F24;
    top: 0px;
    left: 0px;
    height: 501.5px;
    width: 150px;
    border: solid 1px black;
}

#colorSelection{
    color: white;
    position: relative;
    top: -5px;
    left: 2px;
}

#brushSelection{
    color: white;
    position: relative;
    top: -25px;
    left: 2px;
}

#shapeSelection{
    color: white;
    position: relative;
    top: -40px;
    left: 2px;
}

#opacitySelction{
    color: white;
    position: relative;
    top: -130px;
    left: 2px;
}

.colors{
    position: relative;
    width:15px;
    height:15px;
    border: solid black 1px;
}

#theCanvas{
    position: fixed;
    border: solid 1px black;
    box-sizing: border-box;
}

#content{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 1200px;
    width: 1100px;
    font-family: 'Gloria Hallelujah', cursive;
}


#white{
    top:-420px;
    left:5px;
    background:white;

}

#clr{
    position:relative;
    top:-190px;
    left:5px;
}

#eraser{
    color: white;
    position: relative;
    top: -420px;
    left: 5px;
}

#undo{
    position: relative;
    top: -150px;
    left: -45px;
}

#save{
    position: relative;
    top:-110px;
    left:-95px;
}

#canvasimg{
    position:relative;
    top:10px;
    left:0;
    display:none;
}

#thin{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 15px;
    width: 15px;
    top: -17px;
    left: 5px;
}

#insideThin{
    top: 6px;
    left: 1.5px;
    position: relative;
    background-color: black;
    border: 1px solid;
    height: 1px;
    width: 10px;
}


#thicker{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 15px;
    width: 15px;
    top: -34px;
    left: 25px;
}

#insideThicker{
    top: 4px;
    left: 1.5px;
    position: relative;
    background-color: black;
    border: 1px solid;
    height: 5px;
    width: 10px;
}

#thickest{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 15px;
    width: 15px;
    top: -51px;
    left: 44.5px;

}

#insideThickest{
    top: 3px;
    left: 1.5px;
    position: relative;
    background-color: black;
    border: 1px solid;
    height: 7px;
    width: 10px;
}


#circleSSolid{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 15px;
    width: 15px;
    top: -75px;
    left: 5px;
}

#insideSCircleSolid{
    top: 4px;
    left: 4px;
    position: relative;
    border: 1px solid red;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    background-color: red;
}

#squareSOutline{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 15px;
    width: 15px;
    top: -58px;
    left: 25px;
}

#insideSSquareOutline{
    top: 4px;
    left: 4px;
    position: relative;
    border: 1px solid red;
    height: 5px;
    width: 5px;
}

#squareSSolid{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 15px;
    width: 15px;
    top: -92px;
    left: 44.5px;
}

#insideSSquareSolid{
    top: 4px;
    left: 4px;
    position: relative;
    border: 1px solid red;
    height: 5px;
    width: 5px;
    background-color: red;
}

#circleSOutline{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 15px;
    width: 15px;
    top: -41px;
    left: 64px;
}

#insideSCircleOutline{
    top: 4px;
    left: 4px;
    position: relative;
    border: 1px solid red;
    border-radius: 50%;
    height: 5px;
    width: 5px;
}

#circleLSolid{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 15px;
    width: 15px;
    top: -123px;
    left: 5px;
}

#insideLCircleSolid{
    top: 1.5px;
    left: 2px;
    position: relative;
    border: 1px solid red;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: red;
}

#squareLOutline{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 15px;
    width: 15px;
    top: -106px;
    left: 25px;
}

#insideLSquareOutline{
    top: 2px;
    left: 1.8px;
    position: relative;
    border: 1px solid red;
    height: 10px;
    width: 10px;

}

#squareLSolid{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 15px;
    width: 15px;
    top: -140px;
    left: 44.5px;
}

#insideLSquareSolid{
    top: 2px;
    left: 1.825px;
    position: relative;
    border: 1px solid red;
    height: 10px;
    width: 10px;
    background-color: red;
}

#circleLOutline{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 15px;
    width: 15px;
    top: -89px;
    left: 64px;
}

#insideLCircleOutline{
    top: 2px;
    left: 2px;
    position: relative;
    border: 1px solid red;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

#line{
    position: relative;
    background-color: lightgray;
    border: 1px solid;
    height: 15px;
    width: 15px;
    top: -137px;
    left: 5px;
}

#insideLine{
    top: 6px;
    left: 1.5px;
    position: relative;
    border: 1px solid red;
    height: 1px;
    width: 10px;
    background-color: red;
}


footer{
    margin-top: 15px;
    background-color: #542F24;
    position: relative;
    height:auto;
    width: 1105px;
    margin-right: auto;
    margin-left:auto;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    color: white;
    border-radius: 30px;
}

.white{
    background-color: white;
}
#opacityRange{
    position:relative;
    top:-120px;
    left: 5px;
}

#red{
    position: relative;
    top:-10px;
    color: white;
    font-size: 75%;
    width:95px;
    left: 5px;
}

#redRange{
    position: relative;
    left: 10px;
    top: -20px;
}

#green{
    position: relative;
    top: -40px;
    color: white;
    font-size: 75%;
    left: 5px;
    width: 95px;
}

#greenRange{
    position: relative;
    left: 10px;
    top: -20px;
    
}

#blue{
    position: relative;
    top: -70px;
    color: white;
    font-size: 75%;
    left: 5px;
    width: 95px;
}

#blueRange{
    position: relative;
    top: -20px;
    left: 10px;
  
}


#brushRange{
    position: relative;
    left: 5px;
    top: -30px;
}
